html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	overflow: hidden;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
}

* {
	user-select: none;
	font-family: 'Montserrat';
}

h1, h2 {
	font-family: 'Montserrat', sans-serif;
	margin: 0;
}

.euphoria {	
	width: 100%;
	height: 100%;
	
	.application--wrap {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.wonderland {
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;

		canvas {
			width: 100%!important;
			height: 100%!important;
		}

		.test {
			position: absolute;
			left: 0;
			top: 0;
			opacity: 0.5;
		}

		.scores {
			position: absolute;
			left: 0;
			bottom: 0;
			width: 100%;
			display: flex;
			flex-direction: row;
			z-index: 2;
			justify-content: space-around;

			p {
				color: #fff;
				font-size: 20px;
    			font-weight: 800;
    			width: 25%;
    			text-align: center;

    			&.gravity-x {
    				color: #8bc34a;
    			}

    			&.gravity-y {
    				color: #cddc39;
    			}

    			&.velocity-x {
    				color: #f44336;
    			}

    			&.velocity-y {
    				color: #e91e63;
    			}

    			
			}
		}

		.total-score {
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			margin-top: 24px;
			font-size: 36px;
			font-weight: 800;
			color: #ffc107;
			display: flex;
			align-items: center;
			justify-content: center;
		}


		p.pause-button {
			color: #ffffff;
		    font-size: 24px;
		    font-weight: 800;
		    width: 132px;
		    height: 100px;
		    text-align: center;
		    position: absolute;
		    top: 0;
		    right: 0;
		    z-index: 2;
		    cursor: pointer;
		    display: flex;
		    align-items: center;
		    justify-content: center;

		    i {
		    	font-size: 44px;
		    	color: #00bcd4;
		    }
		}
		
	}

	.pause-menu {
	    width: 80%;
	}

}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.14);
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.14);
}
::-webkit-scrollbar-thumb:active {
  background: rgba(0, 0, 0, 0.14);
}
::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.0);
  border: 0px none #ffffff;
  border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
  background:rgba(0, 0, 0, 0.0);
}
::-webkit-scrollbar-track:active {
  background: rgba(0, 0, 0, 0.0);
}
::-webkit-scrollbar-corner {
  background: transparent;
}

.pause-menu-fade-enter-active {
  animation: pause-menu-fade-in .35s;
}
.pause-menu-fade-leave-active {
  animation: pause-menu-fade-in .0s reverse;
}

[data-browser-name="safari"] {
	.pause-menu-fade-enter-active {
	  animation: pause-menu-fade-safari-in .35s;
	}
	.pause-menu-fade-leave-active {
	  animation: pause-menu-fade-safari-in .0s reverse;
	}
}

@keyframes pause-menu-fade-in {
  0% {
    clip-path: circle(1px at 50% 50%);
  }

  100% {
    clip-path: circle(100% at 50% 50%);
  }
}

@keyframes pause-menu-fade-safari-in {
  0% {
    transform: translate(-50%, -50%) scale(0);
  }

  100% {
    transform: translate(-50%, -50%) scale(1)
  }
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}